<configuration>

    <!-- Suppress all logs from the Logback package -->
    <statusListener class="ch.qos.logback.core.status.NopStatusListener" />
    <logger name="ch.qos.logback" level="OFF" />

    <!-- Console appender with colored output -->
    <appender name="COLORED_CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%highlight(%-5msg) %n</pattern>
        </encoder>
    </appender>

    <!-- Root logger configuration -->
    <root level="debug">
        <appender-ref ref="COLORED_CONSOLE" />
    </root>

</configuration>
